
/.vscode

/Labs/MathTrick/Gateway/MT3Gateway-Gateway/bin/
/Labs/MathTrick/Gateway/MT3Gateway-Gateway/.vs/
/Labs/MathTrick/Gateway/MT3Gateway-Gateway/obj/
/Labs/MathTrick/Gateway/MT3Gateway-Step3/bin/
/Labs/MathTrick/Gateway/MT3Gateway-Step3/obj/
/Labs/MathTrick/Gateway/MT3Gateway-Step3/.vs/
/Labs/MathTrick/MathTrickCore/bin/
/Labs/MathTrick/MathTrickCore/obj/
/Labs/MathTrick/MathTrickCore/.vs/

